
.vs/LogicGateNN/v16/Browse.VC.db-shm
.vs/LogicGateNN/v16/Browse.VC.db
.vs/LogicGateNN/v16/.suo
.vs/LogicGateNN/v16/Browse.VC.db-wal
.vs/LogicGateNN/v16/Browse.VC.db
.vs/LogicGateNN/v16/Browse.VC.opendb
.vs/LogicGateNN/v16/ipch/8fd241f8820c3500.ipch
*.ipch
*.db
*.db
*.ipch
.vs/LogicGateNN/v16/.suo
